<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gome.fup.propertyhelper.mapper.PropertyMapper">
    
    <select id="getPropertyById" parameterType="long" resultType="com.gome.fup.propertyhelper.model.Property">
        SELECT * FROM property WHERE id = #{id}
    </select>

    <select id="getPropertyByProjectIdAndGroupName"  resultType="com.gome.fup.propertyhelper.model.Property">
        SELECT
            *
        FROM
            property
        WHERE
            1 = 1
            <if test="projectId != '' and projectId != null">
                AND projectId = #{projectId}
            </if>
            <if test="groupName != '' and groupName != null">
                AND groupName LIKE CONCAT('%',#{groupName},'%')
            </if>
    </select>
    
</mapper>