<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gome.fup.easyconfig.mapper.ConfigMapper">

    <resultMap id="config" type="com.gome.fup.easyconfig.common.Config">
        <id column="id" property="id" />
        <result column="projectId" property="projectId" />
        <result column="groupName" property="groupName" />
        <collection property="metadataList" ofType="com.gome.fup.easyconfig.common.Metadata" column="configId">
            <id column="metadataId" property="id" />
            <result column="configId" property="configId" />
            <result column="key_" property="key" />
            <result column="value_" property="value" />
        </collection>
    </resultMap>


    <select id="getPropertyById" parameterType="long" resultType="com.gome.fup.easyconfig.common.Config">
        SELECT * FROM config WHERE id = #{id}
    </select>

    <select id="getPropertyByProjectIdAndGroupName"  resultMap="config">
        SELECT
            c.id AS id,
            c.projectId AS projectId,
            c.groupName AS groupName,
            m.id AS metadataId,
            m.configId AS configId,
            m.key_ AS key_,
            m.value_ AS value_
        FROM
            config c
            LEFT JOIN metadata m ON c.id = m.configId
        WHERE
            1 = 1
            <if test="projectId != '' and projectId != null">
                AND c.projectId = #{projectId}
            </if>
            <if test="groupName != '' and groupName != null">
                AND c.groupName = #{groupName}
            </if>
            <if test="key != '' and key != null">
                AND m.key_ = #{key}
            </if>
    </select>

    <insert id="insert" parameterType="com.gome.fup.easyconfig.common.Config">
        INSERT INTO config (
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="projectId != null and projectId != ''">
                projectId,
            </if>
            <if test="groupName != null and groupName != ''">
                groupName
            </if>
        )
        VALUES
        (
            <if test="id != null and id != ''">
                #{id},
            </if>
            <if test="projectId != null and projectId != ''">
                #{projectId},
            </if>
            <if test="groupName != null and groupName != ''">
                #{groupName}
            </if>
        )
    </insert>
    
    <update id="edit" parameterType="com.gome.fup.easyconfig.common.Config">
        UPDATE config
        <set>
            <if test="projectId != null and projectId != ''">
                projectId = #{projectId},
            </if>
            <if test="groupName != null and groupName != ''">
                groupName = #{groupName},
            </if>
            <if test="data != null and data != ''">
                data = #{data}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>