<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <title>EasyConfig</title>
    </head>
    <body>
        <div id="total">
            <div>
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label for="projectId">项目编号:</label>&nbsp;&nbsp;
                        <input type="text" class="form-control" name="projectId" id="projectId" ref="val_projectId" placeholder="请输入项目编号">&nbsp;&nbsp;
                        <label for="groupName">分组名称:</label>&nbsp;&nbsp;
                        <input type="text" class="form-control" name="groupName" id="groupName" ref="val_groupName" placeholder="请输入分组名称">&nbsp;&nbsp;
                    </div>
                </form>
            </div>
            <br />
            <div>
                <input type="button" class="btn btn-default" id="search" value="查询" v-on:click="search_config">&nbsp;&nbsp;
                <input type="button" class="btn btn-default" id="add" value="新建" v-on:click="add_new">&nbsp;&nbsp;
            </div>
            <br />
            <div>
                <table id="table_list" class="table table-bordered">
                    <thead>
                        <td>项目ID</td>
                        <td>分组</td>
                        <td>操作</td>
                    </thead>
                    <tbody>
                        <tr v-for="config in list_config">
                            <td>{{config.projectId}}</td>
                            <td>{{config.groupName}}</td>
                            <td>
                                <a href="javascript:;" v-on:click="info_config(config.id)">查看</a>&nbsp;&nbsp;
                                <a href="javascript:;" v-on:click="edit_config(config.id)">编辑</a>&nbsp;&nbsp;
                                <a href="javascript:;" v-on:click="del_config(config.id)">删除</a>&nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" id="config_id" v-model="val_config_id" value="">
            </div>
            <div class="page_div"></div>
        </div>
    </body>
    <script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/layer.js"></script>
    <script>
        var vue = new Vue({
            el: '#total',
            data: {
                val_projectId: null,
                val_groupName: null,
                list_config: [],
                val_config_id: null
            },
            methods: {
                add_new: function() {
                    layer.open({
                        type: 2,
                        title: '新建配置',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['580px', '90%'],
                        content: '/html/add.html'
                    });
                },
                search_config: function() {
                    var _self = this;
                    _self.val_projectId = _self.$refs.val_projectId.value;
                    _self.val_groupName = _self.$refs.val_groupName.value;
                    $.ajax({
                        type: "post",
                        url: "http://localhost:8088/search",
                        data: {
                            projectId : this.val_projectId,
                            groupName : this.val_groupName
                        },
                        success: function(data) {
                            var json = JSON.parse(data);
                            _self.list_config = json.data;
                        }
                    })
                },
                info_config: function(id) {
                    vue.val_config_id = id;
                    layer.open({
                        type: 2,
                        title: '查询配置',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['580px', '90%'],
                        content: '/html/info.html'
                    });
                },
                edit_config: function(id) {
                    vue.val_config_id = id;
                    layer.open({
                        type: 2,
                        title: '编辑配置',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['580px', '90%'],
                        content: '/html/edit.html'
                    });
                },
                del_config: function(id) {
                    var index = layer.open({
                        content: '您确定要删除吗？',
                        title: '删除配置',
                        shadeClose: true,
                        shade: 0.8,
                        btn: ['确认', '取消'],
                        yes: function(){
                            $.ajax({
                                type: "post",
                                url: "http://localhost:8088/delete",
                                data: {
                                    id : id
                                },
                                success: function(data) {
                                    var json = JSON.parse(data);
                                    if(json.status == 200) {
                                        vue.search_config();
                                        layer.close(index);
                                    }
                                }
                            })
                        },
                        no: function(){
                            layer.close(index);  // 关闭layer
                        }
                    });
                }
            }
        });
    </script>
</html>
