<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!-- 扫描注解 -->
	<context:component-scan base-package="com.gome.fup.easyconfig" />

	<bean id="configUtil" class="com.gome.fup.easyconfig.util.EasyConfigUtil">
		<property name="host" value="127.0.0.1" />
		<property name="port" value="10101" />
	</bean>

	<bean id="EasyPropertyPlaceholderConfigurer" class="com.gome.fup.easyconfig.config.EasyPropertyPlaceholderConfigurer">
		<property name="configUtil" ref="configUtil" />
		<property name="projectId" value="123" />
		<property name="groupName" value="test12" />
	</bean>

	<bean id="demo" class="com.gome.fup.easyconfig.DemoController">
		<property name="str" value="${123}" />
	</bean>
</beans>